/* dieu chinh mau sac toan bo trang web */
:root {
    --font-family-main: "Plus Jakarta Sans", sans-serif;
    --font-family-text: "Plus Jakarta Sans", sans-serif;
    --primary-color: #E3ECFE;
    --secondary-color: #775BFB;
    --thirth-color: #334BD4;
    --four-color: #3C59F9;
    --button-color: #4977DD;
    --border-thirth-color: #798dffa4;
    --black-color-opacity-05: rgba(0, 0, 0, 0.5);
}

/* reset css */
* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: var(--font-family-main);
}

/*  */
/* Khu vuc navigation bar va menu mobile */
/*  */
section#navigation-bar-desktop {
    min-height: 6.8rem;
    align-items: center;
    display: flex;
}

.navigation-bg {
    background-color: var(--primary-color);
    padding: 10px;
}

@media screen and (max-width: 500px) {
    section#navigation-bar-desktop {
        display: none;
    }

    section#navigation-bar-mobile {
        display: flex !important;
    }
}

/* section mobile */
section#navigation-bar-mobile {
    display: none;
    padding: 10px 0;
}

.menu-container-visible {
    background-color: var(--black-color-opacity-05);
    position: absolute;
    height: 100vh;
    inset: 0;
    z-index: 1;
    transform: translateX(-101%);
}

.show-menu {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

/* mobile: nut mo menu mobile */
.menu-button-mobile {
    display: none;
}

@media screen and (max-width: 500px) {
    .menu-button-mobile {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .menu-desktop {
        display: none;
    }
}

/* mobile: chinh style cho nut nhan close va menu box header */
.menu-box-head {
    background-color: white;
    margin-bottom: 45px;

    .icon-close {
        width: 32px;
        height: 32px;
        cursor: pointer;
        border-radius: 50%;
        background-color: var(--thirth-color);

        display: flex;
        align-items: center;
        justify-content: center;

        i.bi.bi-x {
            color: white;
            font-size: 2rem;
        }
    }
}

/* hộp bao ngoài menu có độ cao chứa menu con bên trong và nút nhấn thoát */
.menu-box,
.menu-container {
    background-color: white;
    height: 100%;
}

.menu-container {
    transform: translateX(-101%);
    padding: 20px;
}


.show-menu-box {
    width: calc(100% - 50px);
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
    transition-delay: 0.2s;
}

/* desktop: menu desktop */
.navbar-nav {
    flex-direction: row;
}

/* Nút tìm kiếm */
.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 8px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
}

.btn-search.active,
.btn-search:hover {
    background-color: var(--four-color);
    color: #fff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/*  */
/* section search */
/*  */
@media screen and (max-width: 500px) {
    .search-container {
        transform: translateX(-105%);
    }
}

.show-search-container {
    transform: translateY(0%) !important;
    transition: transform 0.3s ease-in-out;
}

section.search-container {
    background-color: var(--thirth-color);
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    .icon-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        border-radius: 50%;
        background-color: transparent;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        i.bi.bi-x {
            color: white;
            font-size: 2rem;
        }
    }

    /* form search */
    form {
        width: 100%;
        position: relative;
        height: 50px;

        >div.input-group2 {
            input.form-control {
                color: white !important;
                background-color: transparent;
                outline: 0 !important;
                border: 0;
                border-bottom: 1px solid var(--border-thirth-color);
                border-radius: 0;
            }

            input::placeholder {
                color: white;
            }

            button[type="submit"] {
                outline: 0;
                border: 0;
                position: absolute;
                top: calc(50% - 20px);
                right: 0;
                padding: 0;
                margin-right: 8px;

                >i.bi.bi-search {
                    font-size: 1rem;
                    color: #fff;
                }
            }

        }
    }

    /* list of keywords */
    ul.keywords {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 20px;
        height: 64px;
        margin: 10px 0 0;

        li {
            font-size: 14px;
            border: 1px solid var(--border-thirth-color);
            border-radius: 15px;
            padding: 4px 8px;

            &:hover {
                background-color: var(--border-thirth-color);
            }

            a {
                color: white;
                text-decoration: none;
            }
        }

        li:first-child {
            margin-left: 10px;
        }
    }
}

/*  */
/* Main section jumbotron */
/*  */
#main-section-jumbotron.jumbotron {
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--primary-color) 34%, white 100%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7rem 0rem 6rem 0rem;
}

.title {
    font-size: 3.8rem;
    line-height: 4.3rem;
    font-weight: 700;
    margin: 0;
    animation: fade-in 1s ease-in-out, slide-in-x 1s ease-in-out;
    animation-delay: 0.1s;
}

.sub-title {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    animation: fade-in 1s ease-in-out, slide-in-x 1s ease-in-out;
    animation-delay: 0.2s;
    /* Animation will start after 2 seconds */
}

/*  */
/* Style jumbotron button */
/*  */
.button-jumbotron {
    animation: fade-in 1s ease-in-out, slide-in-x 1s ease-in-out;
    animation-delay: 0.3s;
    display: flex;
    gap: 20px;

    .btn {
        height: 3.5rem;
        width: 10rem;
        border: 0.1rem solid var(--button-color);
        font-weight: 600;
        color: var(--button-color);
    }

    .btn:hover {
        background-color: var(--button-color);
    }

    .btn.btn-primary {
        background-color: var(--button-color);
        color: white;
    }

    /* hover button jumbotron trái ngược nhau */
    .btn:hover.btn-primary {
        background-color: white;
        color: var(--button-color);
    }

    .btn:hover.btn-outline-primary {
        background-color: var(--button-color);
        color: white !important;
    }
}

.img-jumbotron>img {
    animation: scales 1s ease-in-out 0.1s;
}

/*  */
/* animation */
/*  */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-in-x {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes scales {
    0% {
        transform: scale(0.9);
    }

    50% {

        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*  */
/* MENU DESKTOP STYTE */
/*  */
/* Kiểu dáng cho menu chính */
nav.menu-desktop {
    width: 35%;
}

ul.navbar-nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* Kiểu dáng cho container bên trong dropdown */
ul.home-link.area-inside {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    width: 80vw;
    transform: translate(calc(-40% + 10px), 39px);
    transition: transform 0.3s ease-in-out !important;
}

.navbar-nav .dropdown-menu {
    position: absolute !important;
}

/* Hiển thị dropdown */
.show {
    display: flex !important;
}

/* Kiểu dáng khi nav-item active */
.nav-item-active {
    font-weight: 600;
    cursor: pointer;
}